.error{
    background-image:
    url("https://stories.freepiklabs.com/storage/23279/404-error-page-not-found-with-people-connecting-a-plug-pana-2861.png");
     background-size: 100%;
     height: 100vh;
     background-repeat:no-repeat; 
    
   
}